<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index</title>
<link rel="stylesheet" href="resources/css/common.css" />
<link rel="stylesheet" href="resources/css/style.css" />
</head>
<body>
	<div class="Wrapper">

		<!-- top -->
		<div class="top">
			<!-- 로고 -->
			<div class="topLogo">
				<img class="card-img-top" src="http://placehold.it/100x100" alt="">
			</div>

			<div class="topMenu">
				<!-- 상단 메뉴 -->
				<!-- 회원가입,로그인,마이페이지,고객센터(Q&A)  -->
				<ul>
					<li><a href="#Join">회원가입</a></li>
					<li><a href="#Login">로그인</a></li>
					<li><a href="#QnA">고객센터</a></li>
				</ul>
			</div>
		</div>

		<!-- header -->
		<header class="topWrapper">
			<!-- 메인 메뉴단 -->
			<nav class="mainMenu">
				<!-- 지역화폐란?,공지사항,리뷰, 중고장터, 전통시장 검색 -->
				<ul>
					<li><a href="#Information">지역화폐란?</a></li>
					<li><a href="#Notice">공지사항</a></li>
					<li><a href="#Search">전통시장 검색</a></li>
					<li><a href="#Review">리뷰</a></li>
					<li><a href="#Market">중고장터</a></li>
				</ul>
			</nav>

		</header>

		<!-- 메인 -->
		<section class="middle">
			<div class="mainboard">
				<!-- 공지사항   -->
				<div class="imformation">
					<div class="imfor">
						<h3>공지사항</h3>
						<div class="imfor-sub">공지사항 최신 리스트 5개가 보여질 예정입니다.</div>
					</div>
				</div>

				<!-- 지도 검색  -->
				<div class="searchMap">
					<div class="seImg">
						<img class="card-img-top" src="http://placehold.it/450x250" alt="">
					</div>
					<div class="se">
						<h3>전통시장 검색</h3>
						<div class="seSub1">
							<input type="search" name="searchBar">
							<button type="submit" name="serchBut">검색</button>
						</div>
					</div>

				</div>

				<!-- 리뷰 창이 보여지는 페이지 -->
				<div class="review">
					<h3>리뷰</h3>
					<div class="rview"></div>
				</div>

				<!-- 중고 마켓 페이지 -->
				<div class="market">
					<h3>중고 마켓</h3>
					<div class="mk"></div>
				</div>
			</div>

			<!-- aside 시작  -->
			<aside class="sideView">
				<div class="sidechatting">
					<h3>실시간 채팅</h3>
					<div class="chatbox">
						<form action="#chat">
							<input type="text" name="chat-text">
							<button type="submit">전송</button>
						</form>
					</div>
				</div>
			</aside>
			<!-- aside 끝 -->

		</section>
		<!-- section 끝  -->

		<!-- footer -->
		<footer class="bottom">
			<div class="tofooter">
				<p class="subft">
					서울특별시 강남구 테헤란로 14길 6 남도빌딩 5F <br>
				</p>
				<p class="subft">Copyright &copy; 2020 SMW All Right Reserved</p>
			</div>

		</footer>
	</div>
</body>
</html>