@charset "UTF-8";

.supportList {
	width: 1000px;
	height: 800px;
	left: 30px;
	position: relative;
}

.supportList h1 {
	margin: 5px;
}

.QnA {
	width: 980px;
	height: 600px;
	/*border: 1px solid blue;*/
}

/* 자주 묻는 질문 리스트(아코디언 체제)  */
.support_box {
	width: 1050px;
	height:580px;
	border-bottom:0px solid #ddd;
	border:1px solid blue;
	right:15px;;
	margin:1em 0;
	position:relative;
}

.support_box .supportBody{
	margin:0;
	padding:0
}

.support_box .q{
	/* margin: */
	height:23px;
	color:#ddd;
}
.support_box .q a{
	display:block;
	text-align:left; 
    padding:0 0 0 35px;
    font-size:18px;
    color:#5e5e5e;
    font-weight:bold;
    line-height: 27px;
    cursor:pointer;
    margin: 10px 0; 
    !important
    }
.support_box .q a:hover, .support_box .q a:active, .support_box .q a:focus{
	text-decoration: none;
	color:#3b3c56;
}
.support_box .a{
	height:45px;
	padding: 10px 75px 10px 75px;
    font-size: 16px;
    color: #444444;
    line-height: 22px;
    border-top: 1px solid #bdbdbd;
    margin:5px 0 0 0;
    }

/*---------------------------------------*/

/* 고객센터 전화번호 */
.call {
	width: 980px;
	height: 150px;
	top: 20px;
	position: relative;
	padding: 10px;
	background-color:#fffbda;
	border-radius:25px;
	/*border: 1px solid cyan;*/
}

.call img {
	width:130px;
	height:130px;
	margin:15px;
	float: left;
	/*border: 1px solid red;*/
}

.cal_text {
	float: left;
	top:5px;
	left: 10px;
	position: relative;
}

.cal_text p {
	font-style: inherit;
	font-size: 17px;
	font-weight: bold;
	color: #3b3c56;
	padding-bottom:5px;
}